.navbar{
    display: flex;
    background-color: #008080;
    padding: 15px 35px;
}
.navbar a{
    text-decoration: none;
    cursor: pointer;
}

.nav-link{
    height: 100vh;
    display: flex;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 0;
    background-color: rgba(0,0,0,0.8);
    overflow:hidden ;
    transition: width 1.2s linear;
    
    
   

}

.cross{
    color: #fff;
    position: absolute;
    font-size: 25px;
    right: 20px;
    top:20px;
    cursor: pointer;

}

.nav-link a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}
.barsicon{
    color: #fff;
    font-size: 20px;
    display: none;
}

.aktiv{
    width: 190px;
}


@media(max-width:784px){
    .barsicon{
        display: flex;
        cursor: pointer;
    }
     .link{
        display: none;
     }
}

